#header {
    text-align: center;
    background-image: url("https://cdn.pixabay.com/photo/2015/12/03/10/12/news-1074604__480.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    font-weight: 800;
    padding-top: 50px;
    color: navy;
    font-size: 5em;

}

